# Bleeding edge Django
django

# Configuration
git+https://github.com/jezdez/django-configurations.git#egg=django-configurations
django-secure

# Forms
django-braces
django-crispy-forms
django-floppyforms

# Models
django-model-utils

# images
Pillow==2.3.0

# For user registration
django-allauth

envdir

redis
celery
django-celery

mandrill

django-constance-updated
django-picklefield

pytils